<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
    <a class="navbar-brand font1" href="#">holamundo</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link font1">hola1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font1">hola2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font1">hola3</a>
            </li>
        </ul>
    </div>

</nav>