/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Birthstone;
    src: url(assets/fonts/Birthstone-Regular.ttf) format('truetype');
}

.Oleo {
    font-family: Birthstone;
}

.font1 {
    font-family: 'Gemunu Libre', sans-serif;
}